




body {
    background-color: lightblue;
}

.redcenter {
    color: red;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: blue;
}

.purpleleft {
    color: purple;
    text-align: left;
}

#uniquecolorfont {
    color: yellow;

}

div {
    width: 300px;
    border: 15px solid green;
    padding: 250px;
    margin: 20px;
}
