




body {
    background-color: lightblue;
}

.redcenter {
    color: red;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: blue;
}

.purpleleft {
    color: purple;
    text-align: left;
}

#uniquecolorfont {
    color: yellow;

div {
    width: 300xp;
    border: 15xp solid green;
    padding: 250xp;
    margin: 20xp;
}